h1,
p,
label {
    font-family: "Inconsolata", monospace;
    text-align: center;
}

.button {
    background-color: #fff;
    color: #121212;
    border: 1px solid #121212;
    padding: 6px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    min-width: 24px;
}

.button:hover {
    background-color: #121212;
    border: 1px solid #fff;
    color: #fff;
}

body.dark-theme {
    --text-color: #fff;
    --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #fff;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #121212;
        --bkg-color: #fff;
    }
}

body {
    background: var(--bkg-color);
    transition: background 0.2s linear;
}

h1,
label,
p {
    color: var(--text-color);
}
